USE [master]
GO
/****** Object:  Database [SHOPPINGDB]    Script Date: 27/07/2025 22:35:30 ******/
CREATE DATABASE [SHOPPINGDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SHOPPINGDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\SHOPPINGDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SHOPPINGDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\SHOPPINGDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SHOPPINGDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SHOPPINGDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 27/07/2025 22:35:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 27/07/2025 22:35:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NULL,
	[CategoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'פירות וירקות')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'מוצרי חלב')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'בשר ודגים')
GO
INSERT [dbo].[Products] ([Id], [Name], [Price], [CategoryId]) VALUES (1, N'תפוחים', CAST(12.50 AS Decimal(10, 2)), 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [CategoryId]) VALUES (2, N'בננות', CAST(8.90 AS Decimal(10, 2)), 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [CategoryId]) VALUES (3, N'עגבניות', CAST(6.50 AS Decimal(10, 2)), 1)
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
USE [master]
GO
